/* #ous{
  height: 50px;
  display:flex;
  justify-content: flex-end;
  background-color: #0099ff;
}
p
{
  float:left;
  height: 50%;


}
.debut{
  font-size: 17px;
font-weight: bold;
  color:#fff;
  text-decoration: none;
}




   */
